
body {
    padding:  20vw;
    padding-top: 5vh;
}

thead {
    background-color: #0d6efd;
    color: whitesmoke;
}

th {
    font-weight: normal;
}


td {
    text-align: center;
    vertical-align: middle;
}

.form-control::placeholder {
    color: lightgray;
}

span {
    font-style: italic;
    font-size: small;
}

#td-expense-description {
    font-style: bold;
}